@model bool
<ul class="nav navbar-nav">
    @if (Model)
    {
        <li>@Html.ActionLink("Каталоги", "Index", "Catalogs")</li>
    }
    @if (!Model)
    {
        <li>@Html.ActionLink("Менеджмент користувачів", "UserList", "Users")</li>
    }
</ul>
@Html.Partial("_LoginPartial")