@{
    ViewBag.Title = "Catalogs";
}
<br />

<p>Тут виведення каталогів товарів + редагування, видалення, перегляд кожного окремого</p>
<p>Ще треба буде додати можливість переміщення товарів між каталогами(якщо продавець додав товар не в той каталог(телефон в побутову техніку і т.д.))</p>
