@{
    ViewBag.Title = "AddAdmin";
}

<h2>AddAdmin</h2>
<div class="container">
 
    
</div>
<div class="jumbotron container-fluid">
    <div class="panel panel-default" id="BuyerCatalog">
        <div class="panel-heading">
            Додати адміна
        </div>
        <div class="panel-body">
            @if(!String.IsNullOrEmpty(ViewBag.Succes))
            {
               <h3 style="color:green">@ViewBag.Succes</h3>
            }
            else if(!String.IsNullOrEmpty(ViewBag.Error))
            {
                <h3 style="color:red">@ViewBag.Error</h3>
            }
            <form method="post">
                Email<input class="form-control" name="email" placeholder="Email" />
                Пароль<input type="password" class="form-control" name="pass" placeholder="Пароль" />
                <input style="margin-top:10px;"class="btn btn-default" type="submit" value="Додати" />
            </form>
        </div>
    </div>
</div>