@{
    ViewBag.Title = "AdminUsers";
}
<br />

<p>Тут виведення в таблиці користувачів адмінів + фільтри + опції(видалення, блокування, редагування, зміна пароля) + додавання адмінів</p>
<p>P.S. Ця вторінка повинна бути доступна лише для суперадміна(він буде один і його захардкодимо)</p>
