@{
    ViewBag.Title = "ChangePassword";
}
<style>
    .error-message {
        color: #a94442;
    }
</style>
<div class="jumbotron container-fluid">
    <div class="panel panel-default" id="BuyerCatalog">
        <div class="panel-heading">
            Змінити пароль
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                @if(!String.IsNullOrEmpty(@ViewBag.Message))
                {
                <h4 class="row" style="color:green">Пароль було змінено</h4>
                }
                <form id="changePassword" method="post" onsubmit="return checkForm()">
                    <div class=" form-group row">
                    <label for="UserId" class="col-4 col-form-label">Id користувача</label>
                    <div class="col-8">
                        <input class="form-control" name="id" type="text" disabled value="@ViewBag.UserId" id="UserId">
                    </div>
                    </div>
                    <div class="form-group row" id="row-password">
                        <label for="password" class="col-4 col-form-label">Ваш пароль</label>
                        <div class="col-8">
                            <input name="password" class="form-control" type="text" placeholder="Новий пароль" id="password">
                            <span class="error-message"></span>
                        </div>
                    </div>
                    <div class="form-group row" id="row-confirm">
                        <label for="password-confirm" class="col-4 col-form-label">Підтвердіть свій пароль</label>
                        <div class="col-8">
                            <input name="repeat-password" class="form-control" type="text" placeholder="Repeat Password" id="password-confirm">
                            <span class="error-message"></span>
                        </div>
                    </div>
                    <button class="btn btn-default" type="submit">
                        Змінити пароль
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
    function checkForm(){
        $('#row-password').removeClass('    has-error');
        $('#row-confirm').removeClass('has-error');
        $('.error-message').html();

        if (!$("input[name='password']").val().trim()) {
            $('#row-password').addClass('has-error');
            $('#row-password .error-message').html("Будь ласка,введіть ваш пароль");
            return false;
        }
        if (!$("input[name='repeat-password']").val().trim()) {
            $('#row-confirm').addClass('has-error');
            $('#row-confirm .error-message').html("Будь ласка,підтвердіть ваш пароль");
            return false;
        }
        if ($("input[name='repeat-password']").val() != $("input[name='password']").val()) {
            $('#row-confirm').addClass('has-error');
            $('#row-password').addClass('has-error');
            $('#row-confirm .error-message').html("Ваші паролі не совпадають");
            return false;
        }
        return true;
    }
    ;
</script>
}

