@model List<E_TRADING.Data.Entities.Product>
@{
    ViewBag.Title = "ShoppingCart";
}

<h1>
    Shopping cart
</h1>
<div class="container">
  
    @foreach(var item in Model)
    {
        <div class="col-lg-12 product-block-shopping-cart">
            <div class="col-lg-4">
                <img src='/Content/category-icon-png.png' />
            </div>
            <div class="col-lg-8" style="position:relative">
                <div class="product-block-shopping-cart-cancel-button">
                </div>
                <div class="col-lg-12">
                    <p><b>Name</b>: @item.Name</p>
                    <p><b>Price</b>: @item.Price</p>
                    <p><b>Description</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non porta arcu. Integer euismod ipsum finibus erat fringilla, quis sodales nulla hendrerit. Aenean dictum erat vulputate, euismod eros eget, aliquet felis. Proin leo mi, scelerisque non ante et, egestas semper purus. Vestibulum semper nisi eu dictum egestas. Sed pharetra mauris nisl, sed tristique mi condimentum ut. Nullam felis dui, dignissim eu orci eu, gravida lobortis tellus. Integer finibus mattis auctor. Cras sed eleifend purus. Ut convallis sollicitudin metus, sed eleifend neque hendrerit id. Duis sagittis turpis id orci pulvinar, a mattis felis maximus. Sed ac est vel leo imperdiet sodales sit amet eget nisi.</p>
                </div>
            </div>
        </div>
    }

</div>
